.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 8px;
  border-bottom: 1px solid #00000021;

  &:last-child {
    border-bottom: none;
  }
  .checkbox {
    
  }

  .description {
    &__reset {
      text-decoration: line-through;
    }
  }


}